.btn-square {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    background: #ffffff;/*ボタン色*/
    color: #000000;
    border-bottom: solid 5px #000000;
    border-radius: 10px;
 }

.btn-square:hover{
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);/*upに動く*/
    border-bottom: solid 6px #000000;
}
.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(5px);
    transform: translateY(5px);/*下に動く*/
    border-bottom: solid 2px #000000;
}

.font{
    font-family: 'Comic Sans MS','Papyrus',sans-serif;
}
